@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

.container {
  background-color:#c7ecee;
  /* width: 500px;
  display: flex;
  justify-content: center;
  /* align-items: center;
  text-align: center;
  min-height: 100vh;
  padding: 0;  */
}

.title {
  font-size: 32px;
  font-family: 'Raleway', sans-serif;
}

.operandInput{
  width: 100px;
  background-color: #f1f2f6;
  text-align: center;
}

.inputs-and-dropdown-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding-bottom: 20px;
}

.menu-container {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.error-message {
  color: #487eb0;
  font-size: 12px;
  margin: 0%;
  padding: 0%;
  font-family: 'Raleway', sans-serif;
}

.button-row {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 20px;
}

.result-container {
  /* display: flex; */
  /* align-items: center; */
  /* margin: auto; */
  margin-top: 50px;
  opacity: 70%;
  width: auto;
  background-color: #54a0ff;
  border-radius: 20px;
  padding: 30px;
}

.resultTextTitle {
  font-size: 15px;
}

.resultText {
  font-size: 30px;
}
